Repository Eclmist/Aether, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eclmist, @heze8, @tcgj, @fatclarence, @seanlowjk, @robytanama, @js-owner, docs@example.com, @doctocat, @octocat

Add reveal mode enum
  Assets/Scripts/Network/LobbyPlayer.cs
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerManager.cs
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/Reveal/RevealActor.cs
  Assets/Scripts/Reveal/RevealMode.cs
  Assets/Scripts/Reveal/RevealMode.cs.meta
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/RevealableTerrain.cs
  Packages/manifest.json
  ProjectSettings/Packages/com.unity.polybrush/Settings.json
Owners: @tcgj, @eclmist

Fix Slicing for Health Bar
  Assets/DELETE_ME.meta
  Assets/Images/HUD/HUD_UI/HUD_HealthBar_Empty_Rounded.png.meta
  Assets/Images/HUD/HUD_UI/HUD_HealthBar_Fill_Rounded.png.meta
  Assets/Prefabs/UI/HUD/Statistics/HealthBar.prefab
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
Owners: none

Remove unnecessary shadow
  Assets/Scenes/Gyms/GYM_UI.meta
  Assets/Scenes/Gyms/GYM_Visibility.meta
  Assets/Scenes/Gyms/LevelDesign/GYM_Level_Revamp_Normal.meta
  Assets/Scenes/Gyms/LevelDesign/GYM_Level_Revamp_Normal/LightingData.asset
  Assets/Scenes/Gyms/LevelDesign/GYM_Level_Revamp_Normal/LightingData.asset.meta
Owners: none

test Icon Switches
  Assets/Animation/UI/HUD/Skills.meta
  Assets/Animation/UI/HUD/Skills/FadeIconsAnimation.anim
  Assets/Animation/UI/HUD/Skills/FadeIconsAnimation.anim.meta
  Assets/Animation/UI/HUD/Skills/ReappearIconsAnimation.anim
  Assets/Animation/UI/HUD/Skills/ReappearIconsAnimation.anim.meta
  Assets/Animation/UI/HUD/Skills/SkilllsUIAnimator.controller
  Assets/Animation/UI/HUD/Skills/SkilllsUIAnimator.controller.meta
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
  Assets/Scripts/UI/SkillsUI.meta
  Assets/Scripts/UI/SkillsUI/SkillsUIHandler.cs
  Assets/Scripts/UI/SkillsUI/SkillsUIHandler.cs.meta
  Assets/Scripts/UI/Statistics/HealthBarHandler.cs
Owners: none

Made Skills transform a variable in Player
  Assets/Scripts/Gameplay/Items/Item.cs
  Assets/Scripts/PlayerController/Player.cs
Owners: @heze8, @eclmist

Added in progress fix for PBR master shader
  Assets/Graphics/Shaders/PBR_Master.shadergraph
  Assets/Scenes/Gyms/GYM_UI.meta
  Assets/Scripts/Reveal/RevealableObject.cs
Owners: @eclmist

Added in progress fix for PBR master shader
  Assets/Graphics/Shaders/PBR_Master.shadergraph
  Assets/Scenes/Gyms/GYM_UI.meta
  Assets/Scripts/Reveal/RevealableObject.cs
Owners: @eclmist

Update Player.cs
  Assets/Scripts/PlayerController/Player.cs
Owners: @eclmist

Add Health System
  Assets/Animation/UI/HUD/Statistics/HealthBar_Blinking.anim
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
  Assets/Scripts/Statistics.meta
  Assets/Scripts/Statistics/Health.cs
  Assets/Scripts/Statistics/Health.cs.meta
  Assets/Scripts/Statistics/PlayerStatistics.cs
  Assets/Scripts/Statistics/PlayerStatistics.cs.meta
  Assets/Scripts/UI/Statistics/HealthBarHandler.cs
Owners: none

Duplicate scene for Roby
  Assets/Animation/UI/HUD/Skills/PrimaryChangeToSecondary.anim
  Assets/Animation/UI/HUD/Skills/PrimaryChangeToSecondary.anim.meta
  Assets/Animation/UI/HUD/Skills/ReappearIconsAnimation.anim
  Assets/Animation/UI/HUD/Skills/SkilllsUIAnimator.controller
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_Roby.unity
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_Roby.unity.meta
  Assets/Scenes/Gyms/GYM_Visibility.meta
  Assets/Scenes/Gyms/LevelDesign/GYM_Level_Revamp_Normal.meta
  Assets/Scripts/UI/SkillsUI/SkillsUIHandler.cs
Owners: none

Implement visibility in a compute shader
  Assets/Graphics/Shaders/PBR_Terrain.shadergraph
  Assets/Graphics/Shaders/PBR_Terrain.shadergraph.meta
  Assets/Graphics/Shaders/TerrainPaint.shadergraph
  Assets/Graphics/Shaders/VisibilityQuery.shadersubgraph
  Assets/Graphics/Shaders/VisibilityQuery.shadersubgraph.meta
  Assets/Graphics/Visibility.meta
  Assets/Graphics/Visibility/Editor.meta
  Assets/Graphics/Visibility/Editor/VisibilityEditor.cs
  Assets/Graphics/Visibility/Editor/VisibilityEditor.cs.meta
  Assets/Graphics/Visibility/Resources.meta
  Assets/Graphics/Visibility/Resources/VisibilityCompute.compute
  Assets/Graphics/Visibility/Resources/VisibilityCompute.compute.meta
  Assets/Graphics/Visibility/Resources/default3D.asset
  Assets/Graphics/Visibility/Resources/default3D.asset.meta
  Assets/Graphics/Visibility/VisibilityManager.cs
  Assets/Graphics/Visibility/VisibilityManager.cs.meta
  Assets/Materials/Test/TST_RevealFloor.mat
  Assets/Models/Terrain/MainMenuTerrain.mat
  Assets/Prefabs/Player/Player.prefab
  Assets/Scenes/Game Flow/ATH_Lobby.unity
  Assets/Scenes/Game Flow/ATH_TitleScreen.unity
  Assets/Scenes/Gyms/Graphics/GYM_Visibility.unity
  Assets/Scenes/Gyms/Graphics/New Terrain.asset
  Assets/Scenes/Gyms/Graphics/New Terrain.asset.meta
  Assets/Scenes/Gyms/UI/GYM_UI.meta
  Assets/Scenes/Gyms/UI/GYM_UI/GYM_HUD_3.unity
  Assets/Scenes/Gyms/UI/GYM_UI/GYM_HUD_3.unity.meta
  Assets/Scripts/Reveal/RevealActor.cs
  Assets/Scripts/Reveal/RevealableActor.cs
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/RevealableTerrain.cs
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/largeplants.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/woodbeams_bridge.mat
  Assets/_Extern/Unity/UnityChan/UnityChan.SpringBone/Script/SpringBone/Editor/SpringBone/GUI/Windows/SpringBoneWindow.cs
  Assets/_Extern/Unity/UnityChan/UnityChan.SpringBone/Script/Utility/Editor/FindGameObjectsWindow.cs
  Assets/_Extern/Unity/UnityChan/UnityChan.SpringBone/Script/Utility/Editor/SetObjectParentWindow.cs
  Packages/manifest.json
Owners: @eclmist

Implement visibility in a compute shader
  Assets/Graphics/Shaders/PBR_Terrain.shadergraph
  Assets/Graphics/Shaders/PBR_Terrain.shadergraph.meta
  Assets/Graphics/Shaders/TerrainPaint.shadergraph
  Assets/Graphics/Shaders/VisibilityQuery.shadersubgraph
  Assets/Graphics/Shaders/VisibilityQuery.shadersubgraph.meta
  Assets/Graphics/Visibility.meta
  Assets/Graphics/Visibility/Editor.meta
  Assets/Graphics/Visibility/Editor/VisibilityEditor.cs
  Assets/Graphics/Visibility/Editor/VisibilityEditor.cs.meta
  Assets/Graphics/Visibility/Resources.meta
  Assets/Graphics/Visibility/Resources/VisibilityCompute.compute
  Assets/Graphics/Visibility/Resources/VisibilityCompute.compute.meta
  Assets/Graphics/Visibility/Resources/default3D.asset
  Assets/Graphics/Visibility/Resources/default3D.asset.meta
  Assets/Graphics/Visibility/VisibilityManager.cs
  Assets/Graphics/Visibility/VisibilityManager.cs.meta
  Assets/Materials/Test/TST_RevealFloor.mat
  Assets/Models/Terrain/MainMenuTerrain.mat
  Assets/Prefabs/Player/Player.prefab
  Assets/Scenes/Game Flow/ATH_Lobby.unity
  Assets/Scenes/Game Flow/ATH_TitleScreen.unity
  Assets/Scenes/Gyms/Graphics/GYM_Visibility.unity
  Assets/Scenes/Gyms/Graphics/New Terrain.asset
  Assets/Scenes/Gyms/Graphics/New Terrain.asset.meta
  Assets/Scenes/Gyms/UI/GYM_UI.meta
  Assets/Scenes/Gyms/UI/GYM_UI/GYM_HUD_3.unity
  Assets/Scenes/Gyms/UI/GYM_UI/GYM_HUD_3.unity.meta
  Assets/Scripts/Reveal/RevealActor.cs
  Assets/Scripts/Reveal/RevealableActor.cs
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/RevealableTerrain.cs
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/largeplants.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/woodbeams_bridge.mat
  Assets/_Extern/Unity/UnityChan/UnityChan.SpringBone/Script/SpringBone/Editor/SpringBone/GUI/Windows/SpringBoneWindow.cs
  Assets/_Extern/Unity/UnityChan/UnityChan.SpringBone/Script/Utility/Editor/FindGameObjectsWindow.cs
  Assets/_Extern/Unity/UnityChan/UnityChan.SpringBone/Script/Utility/Editor/SetObjectParentWindow.cs
  Packages/manifest.json
Owners: @eclmist

Remove terrain asset
  Assets/Models/Terrain/MainMenuTerrain.mat
  Assets/Scenes/Game Flow/ATH_TitleScreen.unity
  Assets/Scenes/Gyms/Graphics/New Terrain.asset
  Assets/Scenes/Gyms/Graphics/New Terrain.asset.meta
Owners: @eclmist

Remove terrain asset
  Assets/Models/Terrain/MainMenuTerrain.mat
  Assets/Scenes/Game Flow/ATH_TitleScreen.unity
  Assets/Scenes/Gyms/Graphics/New Terrain.asset
  Assets/Scenes/Gyms/Graphics/New Terrain.asset.meta
Owners: @eclmist

Fix PBR_Master
  Assets/Graphics/Shaders/PBR_Master.shadergraph
  Assets/Graphics/Shaders/PBR_Terrain.shadergraph
  Assets/Graphics/Shaders/VisibilityQuery.shadersubgraph
  Assets/Graphics/Visibility/VisibilityManager.cs
  Assets/Scenes/Gyms/GYM_UI.meta
  Assets/Scenes/Gyms/Graphics/GYM_Visibility.unity
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/birch.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/largeplants.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/rock_b.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/spruce_2_bark.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/spruce_2_branch.mat
Owners: @eclmist

Fix PBR_Master
  Assets/Graphics/Shaders/PBR_Master.shadergraph
  Assets/Graphics/Shaders/PBR_Terrain.shadergraph
  Assets/Graphics/Shaders/VisibilityQuery.shadersubgraph
  Assets/Graphics/Visibility/VisibilityManager.cs
  Assets/Scenes/Gyms/GYM_UI.meta
  Assets/Scenes/Gyms/Graphics/GYM_Visibility.unity
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/birch.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/largeplants.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/rock_b.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/spruce_2_bark.mat
  Assets/_Extern/Fantasy Forest Environment/Summer/Materials/spruce_2_branch.mat
Owners: @eclmist

Overhaul the networking system
  Assets/Bearded Man Studios Inc/Generated/NetworkManager.cs
  Assets/Bearded Man Studios Inc/Generated/NetworkObjectFactory.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerBehavior.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerBehavior.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerBehavior.cs.meta
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerNetworkObject.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerNetworkObject.cs.meta
  Assets/Prefabs/Player/Player.prefab
  Assets/Scenes/Game Flow/ATH_Multiplayer.unity
  Assets/Scripts/Camera/CinemachineTargetting.cs
  Assets/Scripts/Network/AetherNetworkManager.cs
  Assets/Scripts/Network/LobbyPlayer.cs
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerDetails.cs
  Assets/Scripts/Network/PlayerDetails.cs.meta
  Assets/Scripts/Network/PlayerManager.cs
  Assets/Scripts/Network/PlayerNetworkManager.cs
  Assets/Scripts/Network/PlayerNetworkManager.cs.meta
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/PlayerController/PlayerManager.cs
  Assets/Scripts/PlayerController/PlayerManager.cs.meta
  ProjectSettings/ProjectSettings.asset
Owners: @tcgj, @eclmist

Overhaul the networking system
  Assets/Bearded Man Studios Inc/Generated/NetworkManager.cs
  Assets/Bearded Man Studios Inc/Generated/NetworkObjectFactory.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerBehavior.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerBehavior.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerBehavior.cs.meta
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerNetworkObject.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkManagerNetworkObject.cs.meta
  Assets/Prefabs/Player/Player.prefab
  Assets/Scenes/Game Flow/ATH_Multiplayer.unity
  Assets/Scripts/Camera/CinemachineTargetting.cs
  Assets/Scripts/Network/AetherNetworkManager.cs
  Assets/Scripts/Network/LobbyPlayer.cs
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerDetails.cs
  Assets/Scripts/Network/PlayerDetails.cs.meta
  Assets/Scripts/Network/PlayerManager.cs
  Assets/Scripts/Network/PlayerNetworkManager.cs
  Assets/Scripts/Network/PlayerNetworkManager.cs.meta
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/PlayerController/PlayerManager.cs
  Assets/Scripts/PlayerController/PlayerManager.cs.meta
  ProjectSettings/ProjectSettings.asset
Owners: @tcgj, @eclmist

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Critical repository files/folders
/.git*                                   @eclmist
/ProjectSettings                         @eclmist
CODEOWNERS                               @eclmist

# Project Import Setting
/Assets/Presets/                         @eclmist
/Assets/Settings/                        @eclmist

# ============================================================= 
# Code & Feature Owners
# ============================================================= 

# AI
AI/                                     @heze8

# Graphics
Graphics/                               @eclmist
Reveal/                                 @eclmist
Rendering/                              @eclmist

# Networking
Bearded\ Man\ Studios\ Inc              @tcgj
Network/                                @tcgj

# Gameplay
Bombs/                                  @fatclarence
CTF/                                    @heze8
Gameplay/                               @heze8
Interactions/                           @seanlowjk
PowerUps/                               @seanlowjk
PlayerController/                       @eclmist

# Inputs
AetherInput.cs                          @eclmist

# Unclassified
AudioManager.cs                         @eclmist
CharacterCustomizer.cs                  @eclmist
CharacterCustomizerUI.cs                @eclmist
NavigationGroup.cs                      @eclmist
Singleton.cs                            @eclmist
CinemachineTargetting.cs                @tcgj

# ============================================================= 
# Data Owners
# ============================================================= 

# Scenes
Scenes/Game\ Flow/                      @eclmist
Scenes/Gyms/AI/                         @heze8
Scenes/Gyms/LevelDesign/                @robytanama
Scenes/Gyms/Networking/                 @tcgj
Scenes/Gyms/Graphics/                   @eclmist
Scenes/Gyms/UI/                         @seanlowjk
Scenes/Gyms/VFX/                        @fatclarence

# Important Prefabs
Prefabs/Player/                         @eclmist










# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
/docs/ @doctocat
