Repository Eclmist/Aether, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eclmist, @heze8, @tcgj, @fatclarence, @seanlowjk, @robytanama, @js-owner, docs@example.com, @doctocat, @octocat

Move CODEOWNERS to /Docs
  Docs/CODEOWNERS
Owners: @eclmist

Move CODEOWNERS to /Docs
  Docs/CODEOWNERS
Owners: @eclmist

Create initial shader for invisibility rendering
  Assets/Graphics/Shaders/Object_Holographic.shadergraph
  Assets/Graphics/Shaders/Object_Holographic.shadergraph.meta
Owners: @eclmist

Create initial shader for invisibility rendering
  Assets/Graphics/Shaders/Object_Holographic.shadergraph
  Assets/Graphics/Shaders/Object_Holographic.shadergraph.meta
Owners: @eclmist

Add dithering to fade
  Assets/Graphics/Shaders/Object_Holographic.shadergraph
Owners: @eclmist

Add dithering to fade
  Assets/Graphics/Shaders/Object_Holographic.shadergraph
Owners: @eclmist

Remove LFS from branch
  .gitattributes
Owners: @eclmist

Remove LFS from branch
  .gitattributes
Owners: @eclmist

Fix Scripts
  Assets/Scripts/PowerUps/PowerUpBase.cs
  Assets/Scripts/UI/Powerups/PowerUpUIHandler.cs
Owners: @seanlowjk

Fix Scripts
  Assets/Scripts/PowerUps/PowerUpBase.cs
  Assets/Scripts/UI/Powerups/PowerUpUIHandler.cs
Owners: @seanlowjk

Fix HUD Scene
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
  Assets/Scripts/UI/Powerups/PowerUpUIHandler.cs
Owners: none

Fix HUD Scene
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
  Assets/Scripts/UI/Powerups/PowerUpUIHandler.cs
Owners: none

Fix Logic and Powerup Icon Effects
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Blinking.anim
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Blinking.anim.meta
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Flashing.anim
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Flashing.anim.meta
  Assets/Animation/UI/HUD/Powerup Icon/Powerup Icon.controller
  Assets/Powerup Jump.prefab
  Assets/Prefabs/UI/HUD/PowerUps/Powerup Jump Icon.prefab
  Assets/Prefabs/UI/HUD/PowerUps/Powerup Speed Icon.prefab
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
  Assets/Scripts/PowerUps/PowerUpBase.cs
Owners: @seanlowjk

Fix Logic and Powerup Icon Effects
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Blinking.anim
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Blinking.anim.meta
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Flashing.anim
  Assets/Animation/UI/HUD/Powerup Icon/PowerUpIcon_Flashing.anim.meta
  Assets/Animation/UI/HUD/Powerup Icon/Powerup Icon.controller
  Assets/Powerup Jump.prefab
  Assets/Prefabs/UI/HUD/PowerUps/Powerup Jump Icon.prefab
  Assets/Prefabs/UI/HUD/PowerUps/Powerup Speed Icon.prefab
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
  Assets/Scripts/PowerUps/PowerUpBase.cs
Owners: @seanlowjk

Update CODEOWNERS file
  Docs/CODEOWNERS
Owners: @eclmist

Update CODEOWNERS file
  Docs/CODEOWNERS
Owners: @eclmist

Remove UIElementsSchema
  .gitignore
Owners: @eclmist

Remove UIElementsSchema
  .gitignore
Owners: @eclmist

Fix Removal of UIElementsSchema
  UIElementsSchema/UIElements.xsd
  UIElementsSchema/UnityEditor.PackageManager.UI.xsd
  UIElementsSchema/UnityEditor.Rendering.HighDefinition.xsd
  UIElementsSchema/UnityEditor.Rendering.LookDev.xsd
  UIElementsSchema/UnityEditor.ShaderGraph.Drawing.xsd
  UIElementsSchema/UnityEditor.UIElements.Debugger.xsd
  UIElementsSchema/UnityEditor.UIElements.xsd
  UIElementsSchema/UnityEditor.VFX.UI.xsd
  UIElementsSchema/UnityEngine.UIElements.xsd
Owners: none

Fix Removal of UIElementsSchema
  UIElementsSchema/UIElements.xsd
  UIElementsSchema/UnityEditor.PackageManager.UI.xsd
  UIElementsSchema/UnityEditor.Rendering.HighDefinition.xsd
  UIElementsSchema/UnityEditor.Rendering.LookDev.xsd
  UIElementsSchema/UnityEditor.ShaderGraph.Drawing.xsd
  UIElementsSchema/UnityEditor.UIElements.Debugger.xsd
  UIElementsSchema/UnityEditor.UIElements.xsd
  UIElementsSchema/UnityEditor.VFX.UI.xsd
  UIElementsSchema/UnityEngine.UIElements.xsd
Owners: none

Fix .gitignore
  .gitignore
Owners: @eclmist

Fix .gitignore
  .gitignore
Owners: @eclmist

Fix ATH_Lobby
  Assets/Scenes/Game Flow/ATH_Lobby.unity
Owners: none

Fix ATH_Lobby
  Assets/Scenes/Game Flow/ATH_Lobby.unity
Owners: none

Push Changes for Style
  Assets/Scripts/UI/Powerups/PowerUpUIHandler.cs
Owners: none

Push Changes for Style
  Assets/Scripts/UI/Powerups/PowerUpUIHandler.cs
Owners: none

Script commit
  Assets/Prefabs/Projectile/Fire Point.prefab
  Assets/Prefabs/Projectile/Fire Point.prefab.meta
  Assets/Scripts/Bombs.meta
  Assets/Scripts/CTF/FlagActor.cs.meta
  Assets/Scripts/Gameplay/GoalScore.cs
  Assets/Scripts/Gameplay/GoalScore.cs.meta
  Assets/Scripts/Gameplay/ItemSkills/ItemSkill.cs
  Assets/Scripts/Gameplay/ItemSkills/ProjectileSkill.cs
  Assets/Scripts/Gameplay/ItemSkills/SkillHandler.cs
  Assets/Scripts/Gameplay/Items/Bombs/ExplodableObject.cs
  Assets/Scripts/Gameplay/Items/Bombs/SetBomb.cs
  Assets/Scripts/Gameplay/Items/CTF/FlagActor.cs
  Assets/Scripts/Gameplay/Items/CTF/FlagGoal.cs
  Assets/Scripts/Gameplay/Items/CTF/FlagIconToggler.cs
  Assets/Scripts/Gameplay/Items/CTF/FlagManager.cs
  Assets/Scripts/Gameplay/Items/Item.cs
  Assets/Scripts/Gameplay/Items/PowerUpItem.cs
  Assets/Scripts/PowerUps/PowerUpBase.cs
Owners: @heze8, @seanlowjk

Port to new unity version
  Assets/Polybrush Data.meta
  Assets/Polybrush Data/Brush Settings.meta
  Assets/Polybrush Data/Brush Settings/BrushSettings-Default.asset
  Assets/Polybrush Data/Brush Settings/BrushSettings-Default.asset.meta
  Assets/Scenes/Gyms/LevelDesign/GYM_Level_Revamp_Normal.unity.meta
  ProjectSettings/Packages/com.unity.polybrush/Settings.json
Owners: @eclmist

Add stealth mechanic
  Assets/Graphics/Shaders/Stealth.shadergraph
  Assets/Graphics/Shaders/Stealth.shadergraph.meta
  Assets/Prefabs/Player/Player.prefab
  Assets/Scenes/Gyms/Graphics/GYM_Invisibility.unity
  Assets/Scenes/Gyms/Graphics/GYM_Invisibility.unity.meta
  Assets/Scripts/Input/AetherControlSystem.cs
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/StealthActor.cs
  Assets/Scripts/Reveal/StealthActor.cs.meta
  Assets/Settings/AetherInputSystem.inputactions
Owners: @eclmist

Add stealth mechanic
  Assets/Graphics/Shaders/Stealth.shadergraph
  Assets/Graphics/Shaders/Stealth.shadergraph.meta
  Assets/Prefabs/Player/Player.prefab
  Assets/Scenes/Gyms/Graphics/GYM_Invisibility.unity
  Assets/Scenes/Gyms/Graphics/GYM_Invisibility.unity.meta
  Assets/Scripts/Input/AetherControlSystem.cs
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/StealthActor.cs
  Assets/Scripts/Reveal/StealthActor.cs.meta
  Assets/Settings/AetherInputSystem.inputactions
Owners: @eclmist

Add Health Bar for UI
  Assets/Animation/UI/HUD/Statistics.meta
  Assets/Animation/UI/HUD/Statistics/HealthAnimator.controller
  Assets/Animation/UI/HUD/Statistics/HealthAnimator.controller.meta
  Assets/Animation/UI/HUD/Statistics/HealthBar_Blinking.anim
  Assets/Animation/UI/HUD/Statistics/HealthBar_Blinking.anim.meta
  Assets/Prefabs/UI/HUD/Statistics.meta
  Assets/Prefabs/UI/HUD/Statistics/HealthBar.prefab
  Assets/Prefabs/UI/HUD/Statistics/HealthBar.prefab.meta
  Assets/Scenes/Gyms/GYM_UI.meta
  Assets/Scenes/Gyms/GYM_UI/GYM_HUD_3.unity
  Assets/Scripts/PowerUps/JumpPowerUp.cs
  Assets/Scripts/PowerUps/SpeedPowerUp.cs
  Assets/Scripts/UI/Statistics.meta
  Assets/Scripts/UI/Statistics/HealthBarHandler.cs
  Assets/Scripts/UI/Statistics/HealthBarHandler.cs.meta
  Assets/Scripts/UI/UIManager.cs
Owners: @seanlowjk

Remove Damage from PowerUps
  Assets/Scripts/PowerUps/JumpPowerUp.cs
  Assets/Scripts/PowerUps/SpeedPowerUp.cs
Owners: @seanlowjk

Fix Code Quality for Scripts
  Assets/Scripts/UI/Statistics/HealthBarHandler.cs
  Assets/Scripts/UI/UIManager.cs
Owners: none

Consider Edge Cases
  Assets/Scripts/UI/Statistics/HealthBarHandler.cs
Owners: none

Complete level prototype
  Assets/Polybrush Data/Prefab Palette.meta
  Assets/Polybrush Data/Prefab Palette/New Prefab Palette.asset
  Assets/Polybrush Data/Prefab Palette/New Prefab Palette.asset.meta
  Assets/Polybrush Data/Prefab Palette/PrefabPalette-Default.asset
  Assets/Polybrush Data/Prefab Palette/PrefabPalette-Default.asset.meta
  Assets/Prefabs/Environment/Structures & Objects/bridge.prefab
  Assets/Prefabs/Environment/Trees/Autumn/spruce_a2_autumn.prefab
  Assets/Prefabs/Environment/Trees/Summer/birch_1.prefab
  Assets/Prefabs/Environment/Trees/Summer/birch_2.prefab
  Assets/Prefabs/Environment/Trees/Summer/birch_3.prefab
  Assets/Prefabs/Environment/Trees/Summer/spruce_a2.prefab
  ProjectSettings/Packages/com.unity.polybrush/Settings.json
Owners: @eclmist

Add team based reveal mechanic
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerManagerBehavior.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerManagerNetworkObject.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkObject.cs
  Assets/Graphics/Shaders/Stealth.shadergraph
  Assets/Scenes/Game Flow/ATH_Lobby.unity
  Assets/Scripts/Camera/CinemachineTargetting.cs
  Assets/Scripts/Network/AetherNetworkManager.cs
  Assets/Scripts/Network/LobbyPlayer.cs
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerManager.cs
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/Reveal/RevealActor.cs
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/RevealableTerrain.cs
  ProjectSettings/ProjectSettings.asset
Owners: @tcgj, @eclmist

Add team based reveal mechanic
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerManagerBehavior.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerManagerNetworkObject.cs
  Assets/Bearded Man Studios Inc/Generated/UserGenerated/PlayerNetworkObject.cs
  Assets/Graphics/Shaders/Stealth.shadergraph
  Assets/Scenes/Game Flow/ATH_Lobby.unity
  Assets/Scripts/Camera/CinemachineTargetting.cs
  Assets/Scripts/Network/AetherNetworkManager.cs
  Assets/Scripts/Network/LobbyPlayer.cs
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerManager.cs
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/Reveal/RevealActor.cs
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/RevealableTerrain.cs
  ProjectSettings/ProjectSettings.asset
Owners: @tcgj, @eclmist

Fix player spawn transform
  Assets/Scenes/Game Flow/ATH_Multiplayer.unity
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerManager.cs
Owners: @tcgj

Fix player spawn transform
  Assets/Scenes/Game Flow/ATH_Multiplayer.unity
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerManager.cs
Owners: @tcgj

Add reveal mode enum
  Assets/Scripts/Network/LobbyPlayer.cs
  Assets/Scripts/Network/LobbySystem.cs
  Assets/Scripts/Network/PlayerManager.cs
  Assets/Scripts/PlayerController/Player.cs
  Assets/Scripts/Reveal/RevealActor.cs
  Assets/Scripts/Reveal/RevealMode.cs
  Assets/Scripts/Reveal/RevealMode.cs.meta
  Assets/Scripts/Reveal/RevealableObject.cs
  Assets/Scripts/Reveal/RevealableTerrain.cs
  Packages/manifest.json
  ProjectSettings/Packages/com.unity.polybrush/Settings.json
Owners: @tcgj, @eclmist

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Critical repository files/folders
/.git*                                   @eclmist
/ProjectSettings                         @eclmist
CODEOWNERS                               @eclmist

# Project Import Setting
/Assets/Presets/                         @eclmist
/Assets/Settings/                        @eclmist

# ============================================================= 
# Code & Feature Owners
# ============================================================= 

# AI
AI/                                     @heze8

# Graphics
Graphics/                               @eclmist
Reveal/                                 @eclmist
Rendering/                              @eclmist

# Networking
Bearded\ Man\ Studios\ Inc              @tcgj
Network/                                @tcgj

# Gameplay
Bombs/                                  @fatclarence
CTF/                                    @heze8
Gameplay/                               @heze8
Interactions/                           @seanlowjk
PowerUps/                               @seanlowjk
PlayerController/                       @eclmist

# Inputs
AetherInput.cs                          @eclmist

# Unclassified
AudioManager.cs                         @eclmist
CharacterCustomizer.cs                  @eclmist
CharacterCustomizerUI.cs                @eclmist
NavigationGroup.cs                      @eclmist
Singleton.cs                            @eclmist
CinemachineTargetting.cs                @tcgj

# ============================================================= 
# Data Owners
# ============================================================= 

# Scenes
Scenes/Game\ Flow/                      @eclmist
Scenes/Gyms/AI/                         @heze8
Scenes/Gyms/LevelDesign/                @robytanama
Scenes/Gyms/Networking/                 @tcgj
Scenes/Gyms/Graphics/                   @eclmist
Scenes/Gyms/UI/                         @seanlowjk
Scenes/Gyms/VFX/                        @fatclarence

# Important Prefabs
Prefabs/Player/                         @eclmist










# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
/docs/ @doctocat
